In [17]:
import pandas as pd
import numpy as np

In [18]:
adult_data_fname = 'adultData/adult.data.txt'
iris_data_fname = 'irisData/iris.data.txt'
car_data_fname = 'carData/car.data.txt'

In [19]:
df = pd.read_csv(car_data_fname, header=None)

In [22]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, scale
_df = pd.DataFrame()
for c in df.columns:
    col = df[c].values
    if type(df[c].values[0]) is not str:
        new_col = scale(col)
    else:
        lb_enc = LabelEncoder()
#         oh_enc = OneHotEncoder()
        new_col = scale(lb_enc.fit_transform(df[c].values))
#         new_col = oh_enc.fit_transform(new_col.reshape((new_col.shape[0],1))).toarray()
#         for i in range(new_col.shape[1]):
#             _df[str(c)+'_'+str(i+1)] = new_col[:,i]
    _df[str(c)] = pd.Series(new_col)

/Users/donald/anaconda3/envs/tf36/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [23]:
len(_df.columns)

7

In [24]:
_df.sample(10)

             0         1         2         3         4         5         6
684  -1.341641  0.447214 -0.447214  0.000000  1.224745  0.000000  0.510177
1666 -0.447214 -0.447214 -0.447214  1.224745  1.224745  1.224745 -1.773724
1197  0.447214 -0.447214 -1.341641  0.000000  1.224745  0.000000  0.510177
35    1.341641  1.341641 -0.447214 -1.224745 -1.224745 -1.224745  0.510177
901   0.447214  1.341641 -0.447214  0.000000  1.224745  1.224745  0.510177
1221  0.447214 -0.447214 -0.447214 -1.224745 -1.224745  0.000000  0.510177
1398 -0.447214  1.341641  1.341641  1.224745  0.000000  0.000000  0.510177
644  -1.341641 -1.341641  1.341641  1.224745  0.000000 -1.224745 -1.773724
932   0.447214  1.341641  0.447214  0.000000  0.000000 -1.224745 -1.773724
1491 -0.447214 -1.341641  1.341641 -1.224745 -1.224745  0.000000  0.510177

In [16]:
df.sample(10)

          0      1      2     3      4     5      6
1655    low    low      3     2    big  high  unacc
234   vhigh    med      2  more  small   low  unacc
932     med  vhigh      4     4    med  high    acc
434    high  vhigh      2     2  small  high  unacc
1398    low  vhigh  5more  more    med   low  unacc
1378    low  vhigh  5more     2  small   med  unacc
1653    low    low      3     2    big   low  unacc
1574    low    med      4     2    big  high  unacc
584    high   high      3     4    big  high    acc
1207    med    low      2  more  small   med  unacc

In [39]:
test = np.array([2,-1,1,-2])

In [41]:
z = np.zeros(test.shape)

In [43]:
z[np.nonzero(test>=0)] = test[np.nonzero(test>=0)]

In [44]:
z

array([2., 0., 1., 0.])